*.md
!README.md
!zk/**/*.md
*.log
contracts/cache/
contracts/out/
contracts/broadcast/
contracts/generated/
zk/node_modules/
indexer/node_modules/
indexer/.env
zk/build/
zk/generated/
*.wtns
*.r1cs
*.sym
*.zkey
*.ptau
proof.json
public.json
verification_key.json
